<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rusbellgutierrez.SRT">
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="23"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <supports-screens android:resizeable="true"
    android:smallScreens="false"
    android:normalScreens="true"
    android:largeScreens="true"
    android:xlargeScreens="true"
    android:anyDensity="true"
    android:requiresSmallestWidthDp="200"
    android:compatibleWidthLimitDp="200"
    android:largestWidthLimitDp="500"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/system_monitoring"
        android:label="S.R.T"
        android:supportsRtl="true">

        <activity android:name="com.example.rusbellgutierrez.SRT.Activity_Acceso"
            android:theme="@style/Sin_Bar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--indicamos quien es el padre dentro del activity hijo-->

        <activity

            android:name="com.example.rusbellgutierrez.SRT.Activity_Central"
            android:theme="@style/Sin_Bar">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>